main ol {
  counter-reset: li;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding: 0;
}

main ol > * {
  flex-basis: 100%;
}

main ol li {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

main ol li:before {
  content: counter(li);
  counter-increment: li;
  position: relative;
  left: 0.3em;
  color: #d8d7d7;
  font-size: 38px;
  font-weight: bold;
}

main ol li > * {
  flex-basis: 50%;
}

main ol li .pic {
  padding-bottom: 10px;
  animation: appear 300ms ease-out;
}

main ol li .pic:hover {
  transform: scale(1.01);
  transition: all 100ms ease-in;
}

@media all and (min-width: 551px) {
  main ol > * {
    flex-basis: 50%;
  }
  main ol li {
    flex-direction: column;
  }
  main ol li:before {
    left: -3em;
  }
}

@media all and (min-width: 761px) {
  main ol {
    margin-left: 200px;
    margin-top: 100px;
    max-width: 600px;
  }
  main ol > * {
    flex-basis: 50%;
  }
}

@media all and (min-width: 1025px) {
  main ol {
    max-width: 900px;
  }
  main ol > * {
    flex-basis: 33%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
